[package]
name = "website"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.42"
lazy_static = "1.5.0"
tokio-postgres = { version = "0.7.14", features = ["with-chrono-0_4", "with-serde_json-1", "with-uuid-1"] }
async-recursion = "1.1.1"
async-trait = "0.1.89"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tera = "1.20.0"
html5ever = "0.35.0"
ammonia = "4.1.2"
bb8-postgres = "0.9.0"
once_cell = "1.21.3"
dotenvy = "0.15.7"
thiserror = "2.0.17"
sentry = "0.43.0"
axum = "0.8.6"
axum-extra = { version = "0.10.3", features = ["typed-header", "cookie"] }
tower = { version = "0.5.2", features = ["full"] }
tower-http = { version = "0.6.6", features = ["timeout", "trace", "fs"] }
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
tokio = { version = "1.47.1", features = ["full"] }
argon2 = "0.5.3"
time = "0.3.44"
jsonwebtoken = { version = "10.0.0", features = ["aws_lc_rs"] }
cookie = "0.18.1"
regex = "1.11.3"
sha2 = "0.10.9"
hmac = "0.12.1"
base64 = "0.22.1"
aws-config = { version = "1.8.7", features = ["behavior-version-latest"] }
aws-sdk-s3 = { version = "1.107.0", features = ["behavior-version-latest"] }
governor = "0.10.1"
tower_governor = { version = "0.8.0", features = ["axum"] }
htmldiff = { path = "./htmldiff" }
axum-client-ip = "1.1.3"