[package]
name = "website"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4"
lazy_static = "1.5.0"
tokio-postgres = { version = "0.7.12", features = ["with-chrono-0_4", "with-serde_json-1"] }
async-recursion = "1.1.1"
async-trait = "0.1.83"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tera = "1"
html5ever = "*"
ammonia = "4.0.0"
bb8-postgres = "0.8.1"
once_cell = "1.20.2"
dotenvy = "0.15.7"
thiserror = "1.0.66"
sentry = "0.34.0"
axum = "0.7.7"
axum-extra = { version = "0.9.4", features = ["typed-header", "cookie"] }
tower = { version = "0.5.0", features = ["full"] }
tower-http = { version = "0.6.1", features = ["timeout", "trace", "fs"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tokio = { version = "1", features = ["full"] }
axum-client-ip = "0.6.0"
argon2 = "0.5.3"
time = "0.3.36"
jsonwebtoken = "9.3.0"
cookie = "0.18.1"
regex = "1.11.1"