{% include "layout_top.html" %}
<script src="/js/bindiff.js"></script>
<script>
  function acceptTag(tagId){
    window.location.href = `/AcceptTag/${tagId}`;
  }
  function denyTag(tagId){
      window.location.href = `/DenyTag/${tagId}`;
  }
</script>
<div class="container">
  <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center">
          <h5 class="card-title m-b-0">Review Commit from {{ commit.timestamp }}</h5>
          <p>Rationale: {{ commit.rationale }}</p>              
          <p>Deck: {{ commit.deck }}</p>        
          {% if user and owned == true %}
          <a href="/ApproveCommit/{{commit.id}}" class="btn btn-approve"><span class="fa fa-check"></span> Accept all</a>
          <a href="/DenyCommit/{{commit.id}}" class="btn btn-deny"><span class="fa fa-close"></span> Deny all</a>
          {% endif %} 
      </div>
    </div>
    
    {% for note in notes %}
      <div id="{{note.id}}" class="card" style="border-radius: 4px; box-shadow: rgba(9, 30, 66, 0.31) 0px 0px 1px 0px, rgba(9, 30, 66, 0.25) 0px 1px 1px 0px; margin:15px; padding: 5px;">
          <div class="card-body text-right">
              <h6 class="card-title m-b-0 text-center">Review Note</h5>
              <p class="text-center">Note Last Update: {{ note.last_update }}, Deck:  {{ note.deck }}</p>
              <a href="/review/{{note.id}}" class="btn btn-light-blue">Go to full Review</a>
              <button class="btn btn-blue toggle-html" style="padding-bottom:0px;" id="toggle-html-{{note.id}}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 25" width="30px" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
              </svg><span id="toggle-html-text-{{note.id}}">Show Source</span></button>
              <div style="margin-top: 10px;" class="text-center note {% if note.reviewed %}published{% else %}under-review{% endif %}">
                {% if note.reviewed %}published{% else %}new card{% endif %}
              </div>    
              <div>
              {% if user and note.owner == user.id and note.reviewed == false %}
                <a href="/AcceptNote/{{note.id}}" class="btn btn-approve"><span class="fa fa-check"></span> Publish Note</a>
                <a href="/DeleteNote/{{note.id}}" class="btn btn-deny"><span class="fa fa-close"></span> Delete Note</a>
              {% endif %}      
              </div>
              
          </div>
          <div class="split_container">            
            <div><!-- Left Side -->
              <div>
                {% for field in note.fields %}
                  <span class="counter">{{notemodels[note.note_model][field.position]}}</span>
                  <div class="note_fields_highlighted leftside" style="background-color: #ffebe9" data-original='{{ field.reviewed_content }}' data-new-content='{{field.content}}'></div>
                {% endfor %}
              </div>
              <hr />
              {% for tag in note.removed_tags %}
              <div class="note_tag_container">
                <button class="note_tag note_tag_removed" role="button">{{tag.content}}</button>
                {% if user and note.owner == user.id %}
                <div class="tag_actions">
                    <button class="tag_accept_button" role="button" onclick="acceptTag({{tag.id}})">
                        <i class="fas fa-check"></i>
                    </button>
                    <button class="tag_deny_button" role="button" onclick="denyTag({{tag.id}})">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                {% endif %}
              </div>
            {% endfor %}
            </div>

            <div> <!-- Right Side -->
              <div>
                {% for field in note.fields %}
                  <span class="counter">{{notemodels[note.note_model][field.position]}}</span>
                  {% if user and note.owner == user.id and note.reviewed %}
                    <a href="/AcceptField/{{field.id}}" class="btn btn-approve" style="padding: 1px 5px;margin: 5px;"><span class="fa fa-check"></span></a><a href="/DenyField/{{field.id}}" class="btn btn-deny" style="padding: 1px 7px;margin: 5px;"><span class="fa fa-close"></span></a>
                  {% endif %}
                  <div class="note_fields_highlighted rightside" style="background-color: #e6ffec" data-original='{{ field.reviewed_content }}' data-new-content='{{field.content}}'></div>                  
                {% endfor %}
              </div>
              <hr />
              {% for tag in note.new_tags %}
                <div class="note_tag_container">
                  <button class="note_tag note_tag_new" role="button">{{tag.content}}</button>
                  {% if user and note.owner == user.id %}
                  <div class="tag_actions">
                      <button class="tag_accept_button" role="button" onclick="acceptTag({{tag.id}})">
                          <i class="fas fa-check"></i>
                      </button>
                      <button class="tag_deny_button" role="button" onclick="denyTag({{tag.id}})">
                          <i class="fas fa-times"></i>
                      </button>
                  </div>
                  {% endif %}
                </div>            
              {% endfor %}         
            </div>
          </div>
              
      </div>
    {% endfor %}
  </div>
</div>
</div> 
<script>
  $(document).ready(function() {

    function toggleHTML(id) {
      let $noteFields = $("#" + id).find(".note_fields_highlighted");
      $noteFields.each(function() {
        let originalContent = $(this).data("original");
        let content = $(this).data("new-content");
        let res = String(htmldiff(originalContent,content));
        if (!$(this).data("eval")) {
          $(this).data("eval", res);
          res = res.replace(/(<[^>]*>)/g, function(match) {
            if(match === "<ins>" || match === "</ins>" || match === "<del>" || match === "</del>"){
                return match;
            }else{
                return match.replace(/</g,"&lt;").replace(/>/g,"&gt;");
            }
          });
          $(this).html(res);
          $("#toggle-html-text-" + id).html("Show HTML");
        } else {
          $(this).html($(this).data("eval"));
          $(this).removeData("eval");
          $("#toggle-html-text-" + id).html("Show Source");
        }
      });
    }
  
    $(".toggle-html").on("click", function() {
      toggleHTML($(this).attr("id").split("-")[2]);
    });

    $('.card').each(function() {
      var wrapperId = $(this).attr('id');
      toggleHTML(wrapperId); // Toggle to source
      toggleHTML(wrapperId); // Toggle to html (should be the default)
    });

    $('.leftside').each(function() {
      $(this).find('ins').remove();
    });

    $('.rightside').each(function() {
      $(this).find('del').remove();
    });

  });
</script>
{% include "layout_bottom.html" %}
