<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header_template.html" %}
    <!-- Custom Stylesheet -->
    <link href="/static/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
   
</head>
{% include "layout_header.html" %}
            <!-- End Top layout-->
           
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Explore All Decks</h4>
                                <div class="table-responsive">
                                    <table id="deckOverview" class="table table-striped zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Last Update</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Notes</th>
                                                <th>Subscribers</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for deck in decks %}
                                                <tr>
                                                    <td><a href="/notes/{{deck.hash}}">{{ deck.last_update }}</a></td>
                                                    <td><a href="/notes/{{deck.hash}}">{{ deck.name }}</a></td>
                                                    <td><a href="/notes/{{deck.hash}}">{{ deck.desc | replace(from="&nbsp;", to=" ") | striptags | truncate(length=125) }}</a></td>
                                                    <td><a href="/notes/{{deck.hash}}">{{ deck.notes }}</a></td>
                                                    <td><a href="/notes/{{deck.hash}}">{{ deck.subscriptions }}</a></td>
                                                </tr> 
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Last Update</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Notes</th>
                                                <th>Subscribers</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
        <script src="/static/plugins/jquery/jquery.min.js"></script>
        <script src="/static/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="/static/js/decks.js"></script>
        <script src="/static/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
</body>

</html>