<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header_template.html" %}
    <!-- Custom Stylesheet -->
    <link href="/static/plugins/summernote/dist/summernote.css" rel="stylesheet">
    <link href="/static/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
   
</head>
{% include "layout_header.html" %}
            <!-- End Top layout-->
           
            <!-- row -->
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="text-center">
                            <p>Share this Key with your Subscribers</p>
                            <button
                              onclick="CopyToClipboard(this)"
                              type="button"
                              class="btn btn-primary"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Copy to clipboard"
                            >
                                {{hash}}
                            </button>
                            <a
                              href="https://github.com/CravingCrates/AnkiCollab-Plugin/blob/main/getting_started_subscriber.md#adding-the-key-to-anki"
                              target="_blank"
                            >
                              <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <a class="card-body" href="/Maintainers/{{hash}}" style="color: inherit;">
                                <h3 class="card-title text-white">Maintainers</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Give others Maintainer privileges</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <a class="card-body" href="/OptionalTags/{{hash}}" style="color: inherit;">
                                <h3 class="card-title text-white">Optional Tags</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Manage your optional tags</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-tag"></i></span>
                            </a>
                        </div>
                    </div>                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <a class="card-body" href="/MediaManager/{{hash}}" style="color: inherit;">
                                <h3 class="card-title text-white">Google Drive Media</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Automate media support with Google Drive</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-google"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <a class="card-body" href="/Statistics/{{hash}}" style="color: inherit;">
                                <h3 class="card-title text-white">Statistics</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Explore Your Deck's Performance Metrics</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-bar-chart"></i></span>
                            </a>                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title m-b-40">Edit your Deck Description:</h1>
                        <p>You can select content and edit inline</p><hr>
                        <div id="summernote" class="summernote"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Deck Options</h4>
                        <div class="basic-form">
                            <div class="form-group">
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="private" name="private" value="private" {% if private %} checked{% endif %}>
                                        Unlisted Deck (not shown under Explore Decks)
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="prevent_subdecks" name="prevent_subdecks" value="prevent_subdecks" {% if prevent_subdecks %} checked{% endif %}>
                                        Disable new Subdeck creation
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="restrict_notetypes" name="restrict_notetypes" value="restrict_notetypes" {% if restrict_notetypes %} checked{% endif %}>
                                        Disallow new notetype uploads
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add a new changelog message</h4>
                        <p>You cannot use text styling. Only plain text for now. Sorry!</p><br />
                        <div id="changelogeditor" class="summernote"></div>
                        {% if changelogs|length > 0 %}
                        <h4 class="card-title mt-5">Previous Changelogs</h4>
                        <p class="text-muted"><code></code>
                        </p>
                        <div id="accordion-three" class="accordion">                            
                            {% for changelog in changelogs %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne{{changelog.id}}" aria-expanded="true" aria-controls="collapseOne{{changelog.id}}"><i class="fa" aria-hidden="true"></i> {{changelog.timestamp}}</h5>
                                </div>
                                <div id="collapseOne{{changelog.id}}" class="collapse show" data-parent="#accordion-three">
                                    <div class="card-body">
                                        <a style="float:right; margin: 5px" href="/DeleteChangelog/{{changelog.id}}"><i class="fa fa-trash"></i></a>
                                        {{changelog.message | linebreaksbr | safe }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="sweetalert m-t-30">
                            <form>
                                <button type="submit" class="btn mb-1 btn-success sweet-success">Save all Changes <span class="btn-icon-right"><i class="fa fa-check"></i></span>
                                </button>
                            </form>                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danger Zone</h4>
                        <div class="card-content">
                            <div class="sweetalert m-t-30">
                                <button class="btn btn-danger btn sweet-success-cancel">Permanently delete this Deck</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container flud -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
    
    <script src="/static/plugins/sweetalert/js/sweetalert.min.js"></script>

    <script src="/static/plugins/summernote/dist/summernote.min.js"></script>
    <script src="/static/plugins/summernote/dist/summernote-init.js"></script>
    <script>
        {% if description %} 
        $('#summernote').summernote('editor.pasteHTML', '{{description | spaceless | linebreaksbr | safe}}');
        {% endif %}
        $("#changelogeditor").summernote({
            height: 150,
            minHeight: null,
            maxHeight: null,
            focus: !1,
          })

        const form = document.querySelector('form');

        form.addEventListener('submit', event => {
            event.preventDefault();

            const description = $('#summernote').summernote('code').replace(/<p><br><\/p>/g, '').trim();
            const isPrivate = document.querySelector('input[name="private"]').checked;
            const preventSubdecks = document.querySelector('input[name="prevent_subdecks"]').checked;
            const restrictNotetypes = document.querySelector('input[name="restrict_notetypes"]').checked;
            let changelog = $('#changelogeditor').summernote('code').trim();
            changelog = changelog.replace(/<\/p>/g, '\n'); // Replace <br> with \r\n
            changelog = changelog.replace(/<[^>]*>/g, ''); // Remove all other HTML tags
            if (changelog === '\n') { // If the changelog is empty, set it to an empty string to avod accidental submits
                changelog = '';
            }
            console.log(changelog);
            console.log(description);

            const data = {
            description: description,
            hash: '{{hash}}',
            is_private: isPrivate,
            prevent_subdecks: preventSubdecks,
            restrict_notetypes: restrictNotetypes,
            changelog: changelog
            };

            fetch('/EditDeck', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
            });  
            // Reset to empty string to prevent accidental double submits
            $('#changelogeditor').summernote('reset');
            swal("Success!", "All changes have been saved!", "success");
        });

        (document.querySelector(".sweet-success-cancel").onclick = function () {
        const deckName = '{{hash}}';
        swal(
            {
            title: "Are you sure you want to delete this deck?",
            text: "This action cannot be undone.",
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it",
            cancelButtonText: "No, abort",
            closeOnConfirm: !1,
            closeOnCancel: !1,
            },
            function (e) {
            if (e) {
                window.location.href = `/DeleteDeck/${deckName}`;
            } else {
                swal("Cancelled", "This action has been cancelled.", "error");
            }                
            }
        );
        });
        
        function CopyToClipboard(button) {
            var text = button.innerText;
            navigator.clipboard.writeText(text).then(function() {
                console.log('Copying to clipboard was successful!');
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        }
    </script>
</body>

</html>