<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header_template.html" %}
    <!-- Custom Stylesheet -->
    <link href="/static/plugins/trumbowyg/ui/trumbowyg.css" rel="stylesheet">
    <link href="/static/plugins/trumbowyg/plugins/colors/ui/trumbowyg.colors.css" rel="stylesheet">
    <link href="/static/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
    <script src="/static/js/api_service.js"></script>
   
</head>
{% include "layout_header.html" %}
            <!-- End Top layout-->
           
            <!-- row -->
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="text-center">
                            <p>Share this Key with your Subscribers</p>
                            <button
                              type="button"
                              class="btn btn-primary copy-to-clipboard-btn"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              title="Copy to clipboard"
                            >
                                {{hash}}
                            </button>
                            <a
                              href="https://github.com/CravingCrates/AnkiCollab-Plugin/blob/main/getting_started_subscriber.md#adding-the-key-to-anki"
                              target="_blank"
                              rel="noopener noreferrer"
                            >
                              <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-1">
                            <a class="card-body text-inherit" href="/Maintainers/{{hash}}">
                                <h3 class="card-title text-white">Maintainers</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Give others Maintainer privileges</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-2">
                            <a class="card-body text-inherit" href="/OptionalTags/{{hash}}">
                                <h3 class="card-title text-white">Optional Tags</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Manage your optional tags</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-tag"></i></span>
                            </a>
                        </div>
                    </div>                    
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-4">
                            <a class="card-body text-inherit" href="/Statistics/{{hash}}">
                                <h3 class="card-title text-white">Statistics</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Explore Your Deck's Performance Metrics</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-bar-chart"></i></span>
                            </a>                            
                        </div>
                    </div>
                    {% if base_links|length > 0 %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body text-inherit">
                                <h3 class="card-title text-white">Subscription Policy</h3>
                                <div class="d-inline-block">
                                    <p class="text-white mb-0">Configure inherited fields by notetype</p>
                                </div>
                                <div class="mt-2">
                                    {% for base in base_links %}
                                    <a class="btn btn-light btn-sm m-1" href="/DeckSubscriptionPolicy/{{hash}}/{{base.human_hash}}" title="{{base.name}}">
                                        <i class="fa fa-link"></i> {{base.name}}
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title m-b-40">Edit your Deck Description:</h1>
                        <p>You can select content and edit inline</p><hr>
                        <div id="desc-editor" class="trumbowyg-editor"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Deck Options</h4>
                        <div class="basic-form">
                            <div class="form-group">
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="private" name="private" value="private" {% if private %} checked{% endif %}>
                                        Unlisted Deck (not shown under Explore Decks)
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="prevent_subdecks" name="prevent_subdecks" value="prevent_subdecks" {% if prevent_subdecks %} checked{% endif %}>
                                        Disable new Subdeck creation
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="restrict_notetypes" name="restrict_notetypes" value="restrict_notetypes" {% if restrict_notetypes %} checked{% endif %}>
                                        Disallow new notetype uploads
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add a new changelog message</h4>
                        <p>You cannot use text styling. Only plain text for now. Sorry!</p><br />
                        <div id="changelog-editor" class="trumbowyg-editor"></div>
                        {% if changelogs|length > 0 %}
                        <h4 class="card-title mt-5">Previous Changelogs</h4>
                        <p class="text-muted"><code></code>
                        </p>
                        <div id="accordion-three" class="accordion">                            
                            {% for changelog in changelogs %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne{{changelog.id}}" aria-expanded="true" aria-controls="collapseOne{{changelog.id}}"><i class="fa" aria-hidden="true"></i> {{changelog.timestamp}}</h5>
                                </div>
                                <div id="collapseOne{{changelog.id}}" class="collapse show" data-parent="#accordion-three">
                                    <div class="card-body">
                                        <a class="changelog-delete-btn" href="/DeleteChangelog/{{changelog.id}}"><i class="fa fa-trash"></i></a>
                                        {{changelog.message | linebreaksbr | safe }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="sweetalert m-t-30">
                            <form data-deck-hash="{{hash}}">
                                <button type="submit" class="btn mb-1 btn-success sweet-success">Save all Changes <span class="btn-icon-right"><i class="fa fa-check"></i></span>
                                </button>
                            </form>                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danger Zone</h4>
                        <div class="card-content">
                            <div class="sweetalert m-t-30">
                                <button class="btn btn-danger btn sweet-success-cancel">Permanently delete this Deck</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container flud -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
    
    <script src="/static/plugins/sweetalert/js/sweetalert.min.js"></script>

    <script src="/static/plugins/trumbowyg/trumbowyg.min.js"></script>
    <script src="/static/plugins/trumbowyg/plugins/colors/trumbowyg.colors.js"></script>
    
    {% if description %} 
        <script id="desc-data" type="application/json">
            {{ description | json_encode() | safe }}
        </script>
    {% endif %}
    <script src="/static/js/clipboard.js"></script>
    <script src="/static/js/edit_deck.js"></script>
</body>

</html>