<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header_template.html" %}
   
</head>
{% include "layout_header.html" %}
            <!-- End Top layout-->
           
            <!-- row -->
            <div class="container-fluid mt-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title m-b-40">Edit your Notetype {{ name }}</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Protect specific fields from being updated</h4>
                        <p class="text-muted"><code></code>
                        </p>
                        <div id="accordion-three" class="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">Select the protected fields</h5>
                                </div>
                                <div id="collapseOne1" class="collapse show" data-parent="#accordion-three">
                                    <div class="card-body">
                                        <div class="form-group">
                                            {% for fieldInfo in protected_fields %}
                                            <div class="form-check mb-3">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" id="{{fieldInfo.id}}" name="{{fieldInfo.id}}" value="field_{{fieldInfo.id}}" {% if fieldInfo.protected %} checked{% endif %}>
                                                    {{fieldInfo.name}}
                                                </label>    
                                            </div>
                                            {% endfor %}
                                        </div>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit the Card Template</h4>
                        <div class="default-tab">
                            <ul class="nav nav-tabs mb-3" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#front">Front</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#back">Back</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#styling">Styling</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="front" role="tabpanel">
                                    <div class="p-t-15">
                                        <textarea rows="15" cols="60" name="front_textarea">{{front}}</textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="back">
                                    <div class="p-t-15">
                                        <textarea rows="15" cols="60" name="back_textarea">{{back}}</textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="styling">
                                    <div class="p-t-15">
                                        <textarea rows="15" cols="60" name="styling_textarea">{{styling}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form id="submitForm">
                            <div class="button-icon">                            
                                <button type="submit" class="btn mb-1 btn-success">Save all changes <span class="btn-icon-right"><i class="fa fa-check"></i></span>
                                </button>
                                <p id="confirmation" style="color:green; display:none">Changes saved!</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end container flud -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
        
    <script>    
        const form = document.querySelector('#submitForm');
    
        form.addEventListener('submit', event => {
            event.preventDefault();
        
            const formData = {};    
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const front_content = document.querySelector('textarea[name="front_textarea"]').value;
            const back_content = document.querySelector('textarea[name="back_textarea"]').value;
            const styling_content = document.querySelector('textarea[name="styling_textarea"]').value;
        
            checkboxes.forEach(checkbox => {
                const key = parseInt(checkbox.name, 10);
                formData[key] = checkbox.checked;
            });
        
            const data = {
                items: formData,      
                front: front_content,
                back: back_content,
                styling: styling_content,
                notetype_id: {{notetype_id}},
                template_id: {{template_id}}
            };
        
            fetch('/EditNotetype', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                'Content-Type': 'application/json'
                }
            });
            document.getElementById('confirmation').style.display = 'block';
        });
    </script>
</body>

</html>