<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    {% include "header_template.html" %}

</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="error-content">
                        <div class="card mb-0">
                            <div class="card-body text-center pt-5">
                                <h3 class="text-primary">No Stats Available!</h3>
                                <br>
                                <h4 class="mt-4">Seems like there aren't any stats available for this deck yet. Please ask your subscribers to submit more data or wait 24 hours to see them.</h4>
                                <form class="mt-5 mb-5">
                                    
                                    <div class="text-center mb-4 mt-4"><a href="/" class="btn btn-primary">Go to Homepage</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/static/plugins/common/common.min.js"></script>
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/gleek.js"></script>
    <script src="/static/js/styleSwitcher.js"></script>
</body>
</html>





