{% include "layout_top.html" %}

<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title m-b-0">
                    That’s an error.
                </h5>
            </div>
            <p>{{message}}</p><br />
            <ins style="color:#777; text-decoration: none">That's all we know.</ins>
        </div>
    </div>
    </div>
</div> 
{% include "layout_bottom.html" %}