    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>AnkiCollab - The Free Platform for collaborative Anki Decks</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <!-- SEO -->
    <meta name="description" content="Sign up for the only free collaborative Anki software that exists! AnkiCollab is the platform for creating and working on shared Anki Decks with friends.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="AnkiCollab, Anki, Decks, Collaboration, Shared Decks, shared flashcards, Community Decks, Flashcard, Study, Learning, Open-Source, collaboration platform, free collaboration platform, collaborate anki, share deck">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <!-- Custom Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">