{% include "layout_top.html" %}

<div class="container">
    <div class="row">
        <div class="col-12" style="
        height: calc(70vh - 80px);
        overflow: auto;">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title m-b-0">
                        {% if user %}
                        Welcome back!
                        {% endif %}
                        {% if not user %}
                        Hello, stranger.
                        {% endif %}
                    </h5>
                </div>

                <br>
                <p>This is AnkiCollab, an attempt to offer a free platform to collaborate on Anki Decks together, without limitations or barriers.</p>
                <br>
                <p><i>Education is not the filling of a pail, but the lighting of a fire. And collaboration is the spark that ignites the flame.</i></p>            
            </div>
        </div>   
        <footer class="tm-copyright row" style="
        height: 80px;
        position: absolute;
        bottom: 0;
        width: 100%;">
            <p>AnkiCollab is non-profit and unaffiliated with Ankitects Pty Ltd and related projects, Anki, AnkiWeb, AnkiHub or AnkiMobile.
                <br />
            </p>
            <p style="margin-top: 30px;"><a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a></p>
        </footer> 
    </div>    
</div> 

{% include "layout_bottom.html" %}