{% include "layout_top.html" %}

<div class="container">
    <div class="row">
        <div class="col-12" style="
        height: calc(92vh - 80px);
        overflow: auto;">
            <div class="card" style="font-size:1.2rem">
                <div class="card-body text-center">
                    <h5 class="card-title m-b-0">
                        {% if user %}
                        Welcome back!
                        {% endif %}
                        {% if not user %}
                        Hello, stranger.
                        {% endif %}
                    </h5>
                </div>

                <br>
                <p>AnkiCollab is a free & open source platform which allows you to collaborate on Anki Decks together, without limitations or barriers.</p>
                <br>
                <p><i>Education is not the filling of a pail, but the lighting of a fire. And collaboration is the spark that ignites the flame.</i></p>            
            </div>
        </div>   
        <footer class="tm-copyright row" style="
        height: 80px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 60%">
            <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
        </footer> 
    </div>    
</div> 

{% include "layout_bottom.html" %}