<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header_template.html" %}
</head>
{% include "layout_header.html" %}
            <!-- End Top layout-->
           
            <!-- row -->
            <div class="container-fluid">
                <div class="alert alert-primary alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    This website uses essential cookies to ensure its proper operation. By continuing to browse this site, you agree to this use of cookies. For more information, please see our <a href="/privacy">Privacy Policy</a>.
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h1 class="card-title">
                                        {% if user %}
                                        Welcome back!
                                        {% endif %}
                                        {% if not user %}
                                        Hello, stranger.
                                        {% endif %}
                                    </h1>
                                </div>            
                                <br>
                                <p>
                                Welcome to AnkiCollab, the 100% free and open-source platform that lets you collaborate with others to create and share Anki decks. If you're tired of making cards alone, AnkiCollab offers a platform to work together and create comprehensive study resources.
                                </p>
                                <br />
                                <p class="mt-2em lh-14"><i>
                                    We believe that education should be accessible to everyone, regardless of their background or financial means. Our mission is to provide a collaborative and inclusive community that empowers students and lifelong learners to achieve their full potential. By working together, we can break down barriers and create a brighter future in medicine and beyond where knowledge is accessible to all.
                                </i></p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}

</body>

</html>