
<!DOCTYPE html>
<html lang="en">
<head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y483YFWJ5Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y483YFWJ5Z');
</script>

    <meta charset="UTF-8">
    <title>AnkiCollab - The Free Platform for collaborative Anki Decks</title>
    <meta name="description" content="Sign up for the only free collaborative Anki software that exists! AnkiCollab is the platform for creating and working on shared Anki Decks with friends.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="AnkiCollab, Anki, Decks, Collaboration, Shared Decks, Community Decks, Flashcard, Study, Learning, Open-Source, collaboration platform, free collaboration platform">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo-upright.css">
    <link rel="icon" type="image/x-icon" href="https://www.iconsdb.com/icons/download/caribbean-blue/star-128.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Parts of the design are from https://templatemo.com/ -->
</head>

<body>    
    <div class="container-fluid">
        <div class="row">
            <!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar"> 
                <nav class="tm-nav">
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div><a href="/">
                        <div class="tm-brand-box">
                            <h1 class="tm-brand">AnkiCollab</h1>
                        </div></a>         
                        <ul id="tm-main-nav">
                            <li class="nav-item nav-hover">                                
                                <a href="/decks" class="nav-link">
                                    <div class="triangle-right"></div>
                                    Explore Decks
                                </a>
                            </li>
                                {% if not user %}                            
				<li class="nav-item nav-hover">
                                    <a href="/login" class="nav-link">
                                        <div class="triangle-right"></div>
                                        Log in
                                    </a>                            
				</li>            
                                {% else %}	                 
				<li class="nav-item nav-hover">			    
				    <a href="/reviews" class="nav-link">
                                        <div class="triangle-right"></div>
                                        Reviews
                                    </a>                        
				</li>                     
				<li class="nav-item nav-hover">
                                    <a href="/ManageDecks" class="nav-link">
                                        <div class="triangle-right"></div>
                                        Manage Decks
                                    </a>                    
				</li>        
                                {% endif %}
               
                            <li class="nav-item nav-hover">
                                <a href="https://discord.gg/9x4DRxzqwM" class="nav-link">
                                    <div class="triangle-right"></div>
                                    Join Discord
                                </a>
                            </li>
                            <li class="nav-item nav-hover">
                                <a href="https://ankiweb.net/shared/info/1957538407" class="nav-link external" target="_parent" rel="sponsored">
                                    <div class="triangle-right"></div>
                                    Download Plugin
                                </a>
                            </li>
                            <li class="nav-item nav-hover">
                                <a href="https://github.com/CravingCrates/AnkiCollab-Plugin/blob/main/README.md#ankicollab-plugin" class="nav-link external" target="_parent" rel="sponsored">
                                    <div class="triangle-right"></div>
                                    Get Started
                                </a>
                            </li>                            
                            <li class="nav-item nav-hover">
                                <a href="https://ko-fi.com/ankicollab" class="nav-link external" target="_parent" rel="sponsored">
                                    <div class="triangle-right"></div>
                                    Support Us 
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <footer class="mb-3 tm-mt-100">
                    {% if user %}
                        <a target="_parent" rel="sponsored" href="/logout">Log out</a>
                    {% endif %}
                    </footer>
                </nav>
            </div>
            
            <div class="tm-main">
                <!-- Home section -->
                <div class="tm-section-wrap">         
                    <section id="home" class="tm-section">
                        <div class="row tm-row-home">