<!--**********************************
    Footer start
***********************************-->
<div class="footer">
    <div class="copyright">
        <p><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
        <p>Copyright &copy; AnkiCollab. Website Template Designed & Developed by <a style="color: #898989" href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->
</div>
<!--**********************************
Main wrapper end
***********************************-->

<!--**********************************
Scripts
***********************************-->
<script src="/plugins/common/common.min.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/gleek.js"></script>
<script src="/js/styleSwitcher.js"></script>