<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_template.html" %}
    <link href="/static/plugins/toastr/css/toastr.min.css" rel="stylesheet">
  </head>
  {% include "layout_header.html" %}
        <!-- End Top layout-->

        <!-- row -->
        <div id="maintainers-page" data-deck-hash="{{hash}}" class="container-fluid mt-3">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title m-b-40">Manage your Maintainers</h1>
              <p>
                Here you can add or remove maintainers for your deck.
                Maintainers can approve or deny changes made to this deck
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="todo-list">
                <div class="tdl-holder">
                  <div class="tdl-content2 tdl-content--no-label">
                    <ul>
                      {% for username in maintainers %}
                      <li>
                        <label
                          ><span>{{ username }}</span
                          ><a href="#" class="ti-close"></a>
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <input
                    type="text"
                    class="tdl-new2 form-control"
                    placeholder="Enter new username and hit 'Enter'..."
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container flud -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
        <script src="/static/plugins/toastr/js/toastr.min.js"></script>
        <script src="/static/js/maintainers.js"></script>
  </body>
</html>