<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_template.html" %}
    <link href="/static/plugins/toastr/css/toastr.min.css" rel="stylesheet">
  </head>
  {% include "layout_header.html" %}
        <!-- End Top layout-->

        <!-- row -->
        <div class="container-fluid mt-3">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title m-b-40">Manage your Maintainers</h1>
              <p>
                Here you can add or remove maintainers for your deck.
                Maintainers can approve or deny changes made to this deck
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="todo-list">
                <div class="tdl-holder">
                  <div class="tdl-content2 tdl-content--no-label">
                    <ul>
                      {% for username in maintainers %}
                      <li>
                        <label
                          ><span>{{ username }}</span
                          ><a href="#" class="ti-close"></a>
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <input
                    type="text"
                    class="tdl-new2 form-control"
                    placeholder="Enter new username and hit 'Enter'..."
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container flud -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
        <script src="/static/plugins/toastr/js/toastr.min.js"></script>

    <script>
      function toast_error(msg) {
        toastr.error(msg, "Oh no!", {
          positionClass: "toast-top-right",
          timeOut: 5e3,
          closeButton: !0,
          debug: !1,
          newestOnTop: !0,
          progressBar: !0,
          preventDuplicates: !0,
          onclick: null,
          showDuration: "300",
          hideDuration: "1000",
          extendedTimeOut: "1000",
          showEasing: "swing",
          hideEasing: "linear",
          showMethod: "fadeIn",
          hideMethod: "fadeOut",
          tapToDismiss: !1,
        });
      }
    
      function toast_success(msg) {
        toastr.success(msg, "Success!", {
          timeOut: 5e3,
          closeButton: !0,
          debug: !1,
          newestOnTop: !0,
          progressBar: !0,
          positionClass: "toast-top-right",
          preventDuplicates: !0,
          onclick: null,
          showDuration: "300",
          hideDuration: "1000",
          extendedTimeOut: "1000",
          showEasing: "swing",
          hideEasing: "linear",
          showMethod: "fadeIn",
          hideMethod: "fadeOut",
          tapToDismiss: !1,
        });
      }

      $(document).ready(function () {      
        const ACTION_ADD = 1;
        const ACTION_REMOVE = 0;

        function sendData(action, username) {
          const data = {
              deck: "{{hash}}",
              username: username,
              action: action,
          };

          fetch("/Maintainers", {
              method: "POST",
              body: JSON.stringify(data),
              headers: {
              "Content-Type": "application/json",
              },
          })
            .then((response) => response.text())
            .then((text) => {
              if (text === 'added') {
                $('.tdl-content2 ul').append(
                  `<li>
                    <label>
                      <span>${username}</span>
                      <a href="#" class="ti-close"></a>
                    </label>
                  </li>`
                );
                toast_success('Maintainer added');
              }
              else if(text === 'removed') {
                toast_success('Maintainer removed');
              }
              else {
                toast_error('Invalid username');
              }
            })
            .catch((error) => {
              console.error(error);
              toast_error('An error occurred. Please try again.');
            });
        }

        function removeMaintainer(username) {
          sendData(ACTION_REMOVE, username);
        }

        function addMaintainer(username) {
          sendData(ACTION_ADD, username);
        }

        // addMaintainer
        $('.tdl-new2').on('keypress', function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { // Enter key
              e.preventDefault();
              var username = $(this).val();
              addMaintainer(username);              
              $(this).val(''); // Clear the input field
            }
          });

        $(document).on("click", ".ti-close", function () {
          var username = $(this).siblings("span").text().trim();
          removeMaintainer(username);
          var _li = $(this).parent().parent("li");
          _li.addClass("remove").stop().delay(100).slideUp("fast", function() {
              _li.remove();
          });
          return false;
        });
      });
    </script>
  </body>
</html>
