<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_template.html" %}
    <link href="/plugins/toastr/css/toastr.min.css" rel="stylesheet">
  </head>
  {% include "layout_header.html" %}
        <!-- End Top layout-->

        <!-- row -->
        <div class="container-fluid mt-3">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title m-b-40">Manage your Google Drive Setup</h1>
              <p>
                Here you can setup your google drive folder to automate and
                fully support media in your deck
              </p>
              <p>
                If you don't understand how this page works, please check out
                our
                <a
                  href="https://github.com/CravingCrates/AnkiCollab-Plugin/blob/main/google_drive_guide.md#how-to-set-up-google-drive-with-ankicollab"
                  >Media Guide</a
                >
                first.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                Step 1: <i class="fa fa-upload color-success"></i> Upload your service account file
              </h4>
              <div class="basic-form">
                <div class="form-group" id="upload-field">
                  <input
                    type="file"
                    class="form-control-file"
                    id="upload-button"
                    accept=".json"
                  />
                </div>
              </div>
              <h4 class="card-title">Step 2: Enter your folder ID</h4>
              <div class="basic-form">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control input-rounded"
                    placeholder="Folder ID"
                    id="folder_id"
                    name="folder_id"
                    required
                  />
                </div>
              </div>
              <div class="button-icon">
                <button
                  type="button"
                  class="btn mb-1 btn-success"
                  onclick="UpdateMedia()"
                >
                  Save
                  <span class="btn-icon-right"
                    ><i class="fa fa-check"></i
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end container flud -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}

        <script src="/plugins/toastr/js/toastr.min.js"></script>
    
<script>
  let uploadButton = document.getElementById("upload-button");
  let container = document.getElementById("upload-field");
  let service_account = null;

  function toast_error(msg) {
    toastr.error(msg, "Oh no!", {
      positionClass: "toast-top-right",
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1,
    });
  }

  function toast_success(msg) {
    toastr.success(msg, "Yayy!", {
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      positionClass: "toast-top-right",
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1,
    });
  }

  function toast_info(msg) {
    toastr.info(msg, "Info:", {
      positionClass: "toast-top-right",
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1,
    });
  }

  const fileHandler = (file, name, type) => {
    if (type !== "application/json") {
      //File Type Error
      toast_error("Please upload a JSON file");
      return false;
    }
    status.innerText = "";
    let reader = new FileReader();
    reader.readAsText(file);
    reader.onloadend = () => {
      //JSON and file name
      service_account = JSON.parse(reader.result);
      toast_info("Service Account loaded");
    };
  };
  
  //Upload Button
  uploadButton.addEventListener("change", () => {
    status.innerHTML = "";
    Array.from(uploadButton.files).forEach((file) => {
      fileHandler(file, file.name, file.type);
    });
  });

  container.addEventListener(
    "dragenter",
    (e) => {
      e.preventDefault();
      e.stopPropagation();
      container.classList.add("active");
    },
    false
  );

  container.addEventListener(
    "dragleave",
    (e) => {
      e.preventDefault();
      e.stopPropagation();
      container.classList.remove("active");
    },
    false
  );

  container.addEventListener(
    "dragover",
    (e) => {
      e.preventDefault();
      e.stopPropagation();
      container.classList.add("active");
    },
    false
  );

  container.addEventListener(
    "drop",
    (e) => {
      e.preventDefault();
      e.stopPropagation();
      container.classList.remove("active");
      let draggedData = e.dataTransfer;
      let files = draggedData.files;
      status.innerHTML = "";
      Array.from(files).forEach((file) => {
        fileHandler(file, file.name, file.type);
      });
    },
    false
  );

  function sendData(service_account, folder_id) {
    if (service_account == null) {
      toast_error("Please upload a service account file");
      return false;
    }
    if (folder_id == null || folder_id == "") {
      toast_error("Please enter a folder id");
      return false;
    }
    const data = {
      deck: '{{hash}}',      
      service_account: service_account,
      folder_id: folder_id
    };
  
    fetch('/MediaManager', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.text())
    .then(text => {
      toast_success(text);
    })
    .catch(error => console.error(error));  
  }

  function UpdateMedia() {
    const folder_id = document.querySelector('input[name="folder_id"]').value;
    sendData(service_account, folder_id);    
  }

</script>
  </body>
</html>
