<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_template.html" %}
    <!-- Custom Stylesheet -->
    <link
      href="/static/plugins/tables/css/datatable/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link href="/static/css/notes.css" rel="stylesheet" />
  </head>
  {% include "layout_header.html" %}
        <!-- End Top layout-->

        <!-- row -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                    <h1 class="card-title m-b-40">
                      Notes in <i>{{ deck.name }}</i>
                    </h1>
                    <p>To Subscribe, use this Key</p>
                    <button
                      type="button"
                      class="btn btn-primary copy-to-clipboard-btn"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Copy to clipboard"
                    >
                      {{ deck.hash }}
                    </button>
                    <a
                      href="https://github.com/CravingCrates/AnkiCollab-Plugin/blob/main/getting_started_subscriber.md#adding-the-key-to-anki"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                  </div>
                  <hr />
                  <div class="underline-links custom-scrollbar">{{ deck.desc | safe }}</div>
                </div>
              </div>
            </div>
          </div>
          {% if deck.children |length > 0 %}
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title m-b-40">Subdecks</h1>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for child in deck.children | sort(attribute="name")
                        %}
                        <tr>
                          <td>
                            <a href="/notes/{{ child.human_hash }}"
                              >{{ child.name }}</a
                            >
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if notes |length > 0 %}
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-striped table-bordered zero-configuration"
                    >
                      <thead>
                        <tr>
                          <th>Status</th>
                          <th>Last Update</th>
                          <th>Fields</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for note in notes %}
                        <tr>
                          <td>
                            <a href="/review/{{ note.id }}">
                              {% if note.status == 0 %}New Card {% elif
                              note.status == 1%}Removal Requested {% else
                              %}Published{% endif %}
                            </a>
                          </td>
                          <td>
                            <a href="/review/{{ note.id }}"
                              >{{ note.last_update }}</a
                            >
                          </td>
                          <td>
                            <a href="/review/{{ note.id }}"
                              >{{ note.fields | striptags | truncate(length=150)
                              }}</a
                            >
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Status</th>
                          <th>Last Update</th>
                          <th>Fields</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}

    <script src="/static/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/static/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    <script src="/static/js/clipboard.js"></script>
  </body>
</html>