{% include "layout_top.html" %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title m-b-0">Manage your Optional Tags</h4>
            <p>Here you can add or remove optional tags. Optional tags are tags that the user can subscribe to (or not). One idea would be to have specific tagging of a deck for school curriculums or other groups that not all deck subscribers may be interested in.</p>
        </div>
        <div class="container-fluid neww">
          <div style="margin-top: 20px; margin-bottom: 5rem">
            <h5 class="card-title m-b-0">Add a new optional tag group:</h5>
            <input style="width:300px;padding-top: 0px;" type="text" id="taggroup" name="taggroup" placeholder="Tag" required>
            <button type="button" class="btn btn-approve" onclick="addOptionalTag()" style="padding-top: 7px;">Add</button>
            <br />
            <span id="status"></span>
          </div>
          <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
          <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
              <div class="table-responsive">
                  <table name="optionalTag" id="optionalTag" class="table table-striped">
                      <thead class="thead-light">
                          <tr>
                              <th scope="col">Tag</th>
                              <th scope="col">Delete</th>
                          </tr>
                      </thead>
                      <tbody class="customtable">
                        {% for tag in optional_tags %}
                          <tr>
                              <td>{{ tag }}</td>
                              <td><a href="javascript:void(0);" onclick="removeOptionalTag('{{tag}}')"><i class="fa-solid fa-trash-can"></i></a></td>
                          </tr> 
                        {% endfor %}                         
                      </tbody>
                  </table>
              </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#optionalTag').DataTable({});
  });

  function sendData(action, taggroup) {
    const data = {
      deck: '{{hash}}',      
      taggroup: taggroup,
      action: action
    };
  
    fetch('/OptionalTags', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.text())
    .then(text => {
      const statusElement = document.getElementById("status");
      statusElement.innerText = text;
      if (text === "added" || text === "removed") {
        window.location.reload(); // reload to update the table
      }
    })
    .catch(error => console.error(error));  
  }

  function addOptionalTag() {
    const taggroup = document.querySelector('input[name="taggroup"]').value;
    sendData(1, taggroup);    
  }

  function removeOptionalTag(taggroup) {
    sendData(0, taggroup);
  }
</script>
{% include "layout_bottom.html" %}
