<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_template.html" %}
    <link href="/static/plugins/toastr/css/toastr.min.css" rel="stylesheet">
  </head>
  {% include "layout_header.html" %}
        <!-- End Top layout-->

        <!-- row -->
        <div id="optional-tags-page" data-deck-hash="{{hash}}" class="container-fluid mt-3">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title m-b-40">Manage your Optional Tags</h1>
              <p>
                Here you can add or remove optional tags. Optional tags are tags that the user can subscribe to (or not). One idea would be to have specific tagging of a deck for school curriculums or other groups that not all deck subscribers may be interested in.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="todo-list">
                <div class="tdl-holder">
                  <div class="tdl-content2 tdl-content--no-label">
                    <ul>
                      {% for tag in optional_tags %}
                      <li>
                        <label
                          ><span>{{ tag }}</span
                          ><a href="#" class="ti-trash"></a>
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <input
                    type="text"
                    class="tdl-new2 form-control"
                    placeholder="Add a new optional tag group and hit 'Enter'..."
                    required
                  />
                  <p id="status"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container flud -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
        <script src="/static/plugins/toastr/js/toastr.min.js"></script>
        <script src="/static/js/optional_tags.js"></script>
  </body>
</html>