<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header_template.html" %}

</head>
{% include "layout_header.html" %}
            <!-- End Top layout-->
           
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title text-center">
                                    Privacy Policy
                                </h1>
                                <p style="text-align: left;">Please read this page in conjunction with our&nbsp;<a href="/terms">terms and conditions</a>.</p>
<h2 style="text-align: left;">Email</h2>
<ul style="text-align: left;">
<li>A valid email address might be required to sign up for an account.</li>
<li>We use your email address to send you important information about 
AnkiCollab and your account, such as a reset link when you forget your 
password.</li>
<li>We will never use your email for marketing emails or sell your data.</li>
</ul>
<h2 style="text-align: left;">User Data</h2>
<ul style="text-align: left;">
<li>When you add cards via AnkiCollab, or use the synchronization feature 
in the Anki clients to send your data to AnkiCollab, we store the card 
data, (optionally) your review history and the IP Address used to upload the data.</li>
<li>This personal data is not visible to other users of the service.</li>
<li>This data is visible to the dev team when investigating problems with the service, and problems you report.</li>
<li>In the interests of research and product development, we may use your review history, content and options for statistical purposes, such as calculating the average pass rate across all users.</li>
</ul>
<h2 style="text-align: left;">Cookies</h2>
<ul style="text-align: left;">
<li>AnkiCollab uses an internet technology called "cookies" to keep you logged in to the website.</li>
<li>The cookies allow us to associate the actions you take with the correct account.</li>
<li>AnkiCollab may use Google Analytics for usage statistics, and it may have stored some tracking cookies on your computer.</li>
<li>AnkiCollab ignores any tracking cookies set by Google Analytics, and 
you can safely use your browser's cookie manager to delete them if you 
wish.</li>
</ul>
<h2 style="text-align: left;">Logs and Error Reporting</h2>
<ul style="text-align: left;">
<li>All requests made to AnkiCollab, whether they be through a web browser or through one of the Anki clients, are logged.</li>
<li>We record the date and time, the page on AnkiCollab that is being 
accessed and your IP address.</li>
<li>When you access the service while logged in, your user id is recorded.</li>    
<li>Email-related operations may log your email address.</li>
<li>We store this information for security purposes (such as blocking 
malicious access attempts), for diagnosing problems, for analyzing usage
 of the service, and for providing support.</li>
<li>Logs and error reports are automatically sent and stored via secure 
means to our infrastructure.</li>
</ul>
<h2 style="text-align: left;">Syncing</h2>
<ul style="text-align: left;">
<li>When you use the synchronization feature to transfer data between an
 Anki client and AnkiCollab, the client sends the hashed names of the subscribed decks, the timestamp of your last synchronization and optionally your review history (opt-in).</li>
<li>AnkiCollab does not store the sync related information for longer than it needs to process the synchronization request. The review history is stored for usage statistics if you choose to upload it.</li>
</ul>
<h2 style="text-align: left;">User Support</h2>
<ul style="text-align: left;">
<li>For support requests, please&nbsp;<a href="https://discord.gg/">join our discord server</a>.</li>
</ul>
<p style="text-align: left;"><strong>Locations</strong></p>
<ul style="text-align: left;">
<li>We use servers and cloud services located inside secure data centers in the European Union (Germany) to store your data.</li>
<li>Portions of AnkiCollab are cached by a content distribution network that stores data on servers close to you</li>
</ul>
<h2 style="text-align: left;">Third-Party Sharing</h2>
<ul style="text-align: left;">
<li>The cards you add to AnkiCollab are public by default.</li>
<li>We may share your data with law enforcement authorities when required to do so by law.</li>
<li>We may extract the review history of your cards to share with others for academic research purposes. This may include the contents of your cards (such as text).</li>
<li>As decks are contributed by other Anki users, they may contain links
 to third-party servers not under our control. This includes any images 
embedded in the deck or add-on descriptions - when you view a deck on 
AnkiCollab, your browser will fetch any images that are hosted on remote 
sites, and those remote sites will learn of your IP address and may send
 a tracking cookie when an image is fetched from them.</li>
</ul>
<h2 style="text-align: left;">Data Retention</h2>
<ul style="text-align: left;">
<li>We will retain your user data while you continue to use the service. Account data may expire if the account has not been used in 6 months or more.</li>
<li>If you wish to remove your user data, you can delete your AnkiCollab 
account. Just email us at ankicollab@proton.me from the email you used to register the account with, share your username and we will remove the account as soon as we can</li>
<li>If you delete your account, we will delete your user data.</li>
<li>Some of your user data may remain in backups and logs when your account is deleted.</li>
<li>We will retain information when legally required to do so.</li>
</ul>
<h2 style="text-align: left;">Keeping Data Safe</h2>
<ul style="text-align: left;">
<li>We endeavor to keep your data safe by following best practices such 
as encrypting your data in transit, keeping machines up to date, and 
maintaining backups.</li>
<li>No system can ever be completely secure, so we strongly recommend 
you store a local copy of your user data. You can use the Export 
functionality in Anki clients in order to save a backup of your data.</li>
<li>As your password secures your account, please ensure you use a 
secure password and don't use the same password on multiple sites. If 
you don't already use one, we highly recommend a password manager like 
Bitwarden - they make life easier and keep you 
more secure.</li>
</ul>
<h2 style="text-align: left;">Data Usage for Academic Research</h2>
<ul style="text-align: left;">
    <li>All data provided by users on AnkiCollab, including but not limited to review history, note data, and other behavior statistics, may be used for academic research.</li>
    <li>This usage is permitted as long as the privacy of users is never breached. All data used for research will be anonymized to protect user privacy.</li>
</ul>
<h2 style="text-align: left;">Lawful Basis</h2>
<p style="text-align: left;">Data processing laws require us to state the lawful basis we use for processing your data.</p>
<ul style="text-align: left;">
<li>Data you provide to us such as your email address and card content 
is necessary for providing the service to you (servicing a contract).</li>
<li>Statistics that we collect from your data are used to improve the 
service, and for research (servicing a contract, and legitimate 
interests).</li>
<li>Access logs are used for diagnostic and analytical purposes, and for
 detecting misuse of the service (servicing a contract, and legitimate 
interests).</li>
</ul>
<h2 style="text-align: left;">Changes</h2>
<p style="text-align: left;">If significant changes to this policy are 
made, we will notify you via a message when visiting the website, a 
message when you use the synchronization feature, or via email.</p>
<h2 style="text-align: left;">Transfer</h2>
<p style="text-align: left;">In the event of a company acquisition, 
restructure, or bankruptcy, we may transfer your data to a different 
legal entity. The new legal entity shall respect your privacy in the 
same way, and notify you if they wish to use your data in a way not 
described here.</p>
<h2 style="text-align: left;">Contact</h2>
<p style="text-align: left;">If you have any questions about this privacy policy, please email us at ankicollab@proton.me</p>
<p style="text-align: left;"><em>Last updated 2023-01-07.</em></p>
<p style="text-align: left;">&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}

</body>

</html>