<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_template.html" %}
    <!-- Custom Stylesheet -->
    <link
      href="/static/plugins/tables/css/datatable/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>
  {% include "layout_header.html" %}
        <!-- End Top layout-->

        <!-- row -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    All Commits that require your attention
                  </h4>
                  <div class="table-responsive">
                    <table
                      id="deckOverview"
                      class="table table-striped table-bordered zero-configuration"
                    >
                      <thead>
                        <tr>
                          <th>Rationale</th>
                          <th>User provided Information</th>
                          <th>Deck</th>
                          <th>Timestamp</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for commit in commits %}
                        <tr>
                          <td>
                            <a href="/commit/{{ commit.id }}"
                              >{{ commit.rationale }}</a
                            >
                          </td>
                          <td>
                            <a href="/commit/{{ commit.id }}"
                              >{{ commit.commit_info | striptags | truncate(length=125) }}</a
                            >
                          </td>
                          <td>
                            <a href="/commit/{{ commit.id }}"
                              >{{ commit.deck | truncate(length=100) }}</a
                            >
                          </td>
                          <td>
                            <a href="/commit/{{ commit.id }}"
                              >{{ commit.timestamp }}</a
                            >
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Rationale</th>
                          <th>Timestamp</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}

    <script src="/static/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/static/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
  </body>
</html>
