{% include "layout_top.html" %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title m-b-0">Sign up today</h5>
            </div>
            <div class="container-fluid">
                <form name="form1" action="/signup" method="post">
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="password" class="col-sm-2 col-form-label">Password </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" required>			
			    <p>Your password needs to be at least 8 characters and contain at least one lowercase letter, one uppercase letter and one numeric digit.</p>
                        </div>

                    </div>
                    <button class="btn btn-light-blue" type="submit">Sign up</button>
                    <p>By signing up you agree to our <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</p>
                </form>
            </div>

        </div>
    </div>
    </div>
</div> 
{% include "layout_bottom.html" %}