<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    {% include "header_template.html" %}
    <link rel="stylesheet" href="/static/plugins/fontawesome/all.css">

</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5 form-validation">
                                <h4 class="text-center">Create account</h4>        
                                <form class="mt-5 mb-5 login-input form-valide" action="/signup" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username" name="username" id="username" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" class="css-control-input" id="val-terms" name="val-terms" value="1"> <span class="css-control-indicator"></span> I agree to the <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>
                                        <input type="checkbox" class="css-control-input" id="cookie" name="cookie" value="0" style="display: none">
                                    </div>
                                    <button class="btn login-form__btn submit w-100" type="submit">Sign up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/static/plugins/common/common.min.js"></script>
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/gleek.js"></script>
    <script src="/static/js/styleSwitcher.js"></script>

    <script src="/static/plugins/validation/jquery.validate.min.js"></script>
    <script src="/static/plugins/validation/jquery.validate-init.js"></script>
</body>
</html>





