<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_template.html" %}
  </head>
  {% include "layout_header.html" %}
        <!-- End Top layout-->

        <!-- row -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body legal-content">
                  <h1 class="card-title text-center">Terms and Conditions</h1>
                  <p>
                    This is a legal agreement between users of this service
                    ("you" or "your") and AnkiCollab. This agreement governs
                    your usage of AnkiCollab &nbsp;("the service"). In this
                    document, "we" and "our" refers to AnkiCollab, its staff,
                    and trusted third-party contractors.
                  </p>
                  <h2>Legal Age</h2>
                  <p>
                    If you are not old enough to legally agree to this document,
                    please have a parent or guardian agree on your behalf.
                  </p>
                  <h2>Privacy</h2>
                  <p>
                    Please see our&nbsp;<a href="/privacy">privacy policy</a
                    >&nbsp;to understand the information we store when you use
                    the service, why we store it, and the limited ways in which
                    we share it.
                  </p>
                  <h2>Cancellation&nbsp;Policy</h2>
                  <p>
                    Accounts may cancelled at any time.
                  </p>
                  <h2>Account Expiry</h2>
                  <p>
                    Data in your account may expire if your account is not
                    accessed for 6 months or longer.
                  </p>
                  <h2>Acceptable Content</h2>
                  <p>
                    By uploading or entering any material into our website, you
                    assert that it does not contain:
                  </p>
                  <ul>
                    <li>
                      Content that you do not have the intellectual property
                      rights to use, due to copyright, trademark, patent or
                      other protection. Your local jurisdiction may allow you to
                      use protected content under fair use provisions, provided
                      you do not share it with others.
                    </li>
                    <li>
                      Content designed to subvert the correct functioning of
                      software or hardware, such as viruses and code exploits.
                    </li>
                    <li>
                      Content that is illegal in the United States, the European
                      Union or your country of residence.
                    </li>
                  </ul>
                  <p>
                    If you are an intellectual property holder and believe your
                    rights have been violated, please see the "Intellectual
                    Property Violations" section below.
                  </p>
                  <p>
                    If you share your material publicly, you must also ensure:
                  </p>
                  <ul>
                    <li>
                      It does not contain content that might offend others, such
                      as pornography, hate speech or libel.
                    </li>
                    <li>
                      It does not attempt to modify or replace the function,
                      content or branding of our website.
                    </li>
                  </ul>
                  <h2>Sharing Decks</h2>
                  <h3>Sharing</h3>
                  <ul>
                    <li>
                      You may optionally share a deck you have uploaded, making
                      it available for others to download from AnkiCollab.
                    </li>
                    <li>
                      When you share a deck, you grant us a worldwide,
                      royalty-free, non-exclusive license to make the deck
                      available to users under the Shared Deck License below.
                    </li>
                    <li>
                      You further grant us the right to modify the deck you
                      shared, including but not limited to creating excerpts,
                      and converting to new file formats.
                    </li>
                    <li>
                      You may elect to remove the shared deck from our servers
                      at any time. This will stop us from providing the deck for
                      download. We do not store records of who has downloaded a
                      certain deck, so we can not retroactively remove a deck
                      from users who have already downloaded it. Due to caching,
                      there may be a delay between when you ask for a removal of
                      a deck and when it becomes unavailable to others.
                    </li>
                    <li>
                      When you share a deck, you will be required to assert that
                      it is entirely your own work, or that you have obtained a
                      license from the intellectual property holder to share the
                      material here. If we suspect that material has been
                      uploaded in violation of intellectual property rights, we
                      will remove it from the shared deck list, and may remove
                      your ability to share decks in the future.
                    </li>
                    <li>
                      While we do not have the resources to manually check decks
                      that are uploaded to our website, we reserve the right to
                      remove any we come across that we deem inappropriate,
                      including but not limited to ones with poor quality
                      descriptions or content, and ones that are only useful to
                      a small group of people (such as lecture notes for a
                      specific class).
                    </li>
                  </ul>
                  <h3>Shared Deck License</h3>
                  <ul>
                    <li>
                      When you download a deck that someone has shared, the deck
                      author grants you a permanent, non-revocable, worldwide,
                      royalty free, non-exclusive license to use the material in
                      your personal studies.
                    </li>
                    <li>
                      This license is for personal use only, and the deck may
                      not be redistributed, re-uploaded, published, or used for
                      any other purposes without explicit permission from the
                      copyright holder.
                    </li>
                    <li>
                      Shared decks have been provided by third parties and are
                      not reviewed by us, so we can offer no warranty or support
                      for them.
                    </li>
                  </ul>
                  <h3>
                    Intellectual Property Violations
                  </h3>
                  <p>
                    Each time users share a deck, they're required to confirm
                    that the content is entirely their own work, or that they
                    have obtained a license from the intellectual property
                    holder. If you believe someone has violated your
                    intellectual property rights, please email
                    <a href="mailto:ankicollab@proton.me"
                      >ankicollab@proton.me</a
                    >
                    to let us know. Please provide us with a link to the
                    offending content, and a link to your site, book or other
                    original content that the material has been taken from. If
                    you are writing on behalf of another, you must have the
                    authority to act on their behalf. Please be advised that if
                    you make a false report, you may place yourself open to
                    legal action.
                  </p>
                  <h2>Access to the Service</h2>
                  <ul>
                    <li>
                      You may access AnkiCollab directly through your browser,
                      and through the sync functionality incorporated into the
                      Anki add-on
                    </li>
                    <li>
                      Because other clients can cause problems, AnkiCollab does
                      not currently allow access from browser extensions or
                      other third-party clients.
                    </li>
                    <li>
                      We reserve the right to suspend or remove your access to
                      the service at our sole discretion.
                    </li>
                  </ul>
                  <h2>
                    Violations &amp; Law Enforcement
                  </h2>
                  <p>
                    If you fail to comply with these terms of service, we may
                    suspend or remove your account at our sole discretion. If
                    your actions were illegal, we may also report you to the
                    authorities. We will provide your information to third
                    parties when required to do so by law.
                  </p>
                  <h2>Changes</h2>
                  <p>
                    If we make significant changes to these terms, we will
                    notify you via a message on the website, a message when you
                    sync, or via an email.
                  </p>
                  <h2>Transfer</h2>
                  <p>
                    In the event of a company acquisition, restructure, or
                    bankruptcy, we may transfer these rights and obligations to
                    the new legal entity.
                  </p>
                  <h2>Disclaimer of Warranties</h2>
                  <p>
                    Use of the service is at your own risk. While we endeavor to
                    ensure the integrity of your data, ultimately the
                    responsibility is in your hands. Please keep a local backup
                    of your data for safety's sake.
                  </p>
                  <p>
                    THE SERVICE IS PROVIDED "AS IS". WHEN ALLOWED BY LOCAL LAW,
                    WE HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF
                    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
                    NON-INFRINGEMENT. WE MAKE NO WARRANTY THAT THE SERVICE WILL
                    BE ERROR FREE OR THAT ACCESS WILL BE CONTINUOUS OR
                    UNINTERRUPTED. YOU UNDERSTAND THAT USE OF THE SERVICE IS
                    ENTIRELY AT YOUR DISCRETION AND RISK.
                  </p>
                  <h2>Limitation of Liability</h2>
                  <p>
                    TO THE EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL WE BE
                    LIABLE FOR ANY GENERAL, SPECIAL, CONSEQUENTIAL, INCIDENTAL
                    OR OTHER DAMAGES, INCLUDING, WITHOUT LIMITATION, LOSS OF
                    DATA, INCORRECT DATA, BUSINESS INTERRUPTION, OR ANY OTHER
                    DAMAGES OR LOSSES INCURRED BY YOUR USE OF, OR INABILITY TO
                    USE THIS SERVICE, EVEN IF WE HAVE BEEN ADVISED OF THE
                    POSSIBILITY OF SUCH DAMAGES, AND REGARDLESS OF THE THEORY OF
                    LIABILITY.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--**********************************
            Content body end
        ***********************************-->
        {% include "layout_footer.html" %}
  </body>
</html>
